.apaga-tudo {
  float: left;
}

.criar-tarefa {
  background-color: white;
  margin-left: 15px;
}

.funcionamento {
  margin-left: 15px;
}

.li {
  background-color: rgb(128, 128, 128);
}

.lista-tarefas {
  margin-left: 30px;
}

.mover-baixo {
  float: left;
}

.mover-cima {
  float: left;
}

.remover-finalizados {
  float: left;
}

.salvar-tarefa {
  float: left;
}

.texto-tarefa {
  float: left;
  margin-left: 15px;
}

h1 {
  margin-left: 15px;
}

h2 {
  margin-left: 15px;
}
