.mainTitle {
  font-family: monospace;
  margin: 30px 0 20px 30px;
}

.subTitle {
  color: grey;
  font-family: monospace;
  font-style: italic;
  font-weight: 500;
  margin: 10px 0 20px 30px;
}

.textInput {
  border: 2px solid black;
  margin: 2px 0 2px 30px;
}

button {
  cursor: pointer;
}
